@{
    Layout = "~/Views/Shared/_LayoutOrange.cshtml";
}
	<link href="~/Content/dc.css" rel="stylesheet" type="text/css">
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form action="@Url.Action("ForgotPassword", "Auth")" method="post" style="background-color: white; padding: 10%; padding-top: 5%; border-radius: 3px; margin-top: 10%;">
            <h3 class="aligncenter dashsub">Forgot Password</h3>
            <p class="text-center">
                <small>
                    We will email you!
                </small><br>
                <div class="form-group">
                    <input name="email" style="font-size: 12px; border-radius: 3px; background-color: #f9f9f9;" type="text" class="form-control" placeholder="Enter your email address" required="required">
                </div>
                <div class="form-group">
                    <button style="font-size: 15px; border-radius: 3px; background-color: #f77408;border-color: #f77408" type="submit" class="btn btn-primary btn-block">SEND</button>
                </div>
                <div class="clearfix">
                    <small><a href="@Url.Action("ProLogin", "Auth")" style="text-decoration: underline;color: #f77408" " class="pull-right">Back to login</a></small>
                </div>
        </form>
    </div>
</div>
