@model IEnumerable <IntegrateGoogleSignIn.Models.propackageuser>

@{
    ViewBag.Title = "Crumbs80";
    Layout = "~/Views/Shared/_LayoutOrange.cshtml";
}

<h2>Crumbs80</h2>

<div>
    <h4>propackageuser</h4>

    <div class="table-responsive">
        <table class="table table-bordered table-condensed table-striped table-hover sortable">

            <thead>
                <tr class="danger">
                    <th>
                        Name
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Domain Name
                    </th>

                </tr>
                

       

           
                @foreach (var propackageuser in @Model)
                {
                    <tr>
                        <td>
                            @propackageuser.name
                        </td>
                        <td>
                            @propackageuser.email
                        </td>
                        <td>
                            @propackageuser.domainname
                        </td>
                    </tr>


                }
            
        </table>
    </div>
    
    
   
</div>

