@{
    Layout = "~/Views/Shared/_LayoutOrange.cshtml";
}
<link href="~/Content/roboto.css" rel="stylesheet" />
	<link href="~/Content/dc.css" rel="stylesheet" type="text/css">
<div class="row" style="font-family:Roboto;">
    <div class="col-md-12" id="ChnagedFont">
        <h2>FAQ</h2>
        <div class="panel-group" id="faqAccordion" style="font-family:Roboto !important;">
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
                    <h4 class="panel-title">
                        <a href="#" class="ing">Q: Who are we?</a>
                    </h4>
                </div>
                <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p>
                            We are a UK based company formed in 2018. The two owners are Neil Owen and Edward Owen. Our registered company number is 11712020. You can check our details on the government website: www.gov.uk. We charge in US dollars rather than pounds as most of our clients are from the States.
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1">
                    <h4 class="panel-title">
                        <a href="#" class="ing">Q: What are multi-page visitors?</a>
                    </h4>
                </div>
                <div id="question1" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p>
                            Multi-page visitors are the number of people who view more than one web page during any of their visits. <br />
                            Just to clarify this is not the same as bounce rate. Bounce rate is the number of single page sessions. If these two metrics were to be similar then the definition of bounce rate would be number of single page ‘users’, not ‘sessions’.
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2">
                    <h4 class="panel-title">
                        <a href="#" class="ing">Q: Why don’t I see any duration on my exit page?</a>
                    </h4>
                </div>
                <div id="question2" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p>
                            For analytics (which includes GA), cookies need to record a following page to be able to record a duration. As exit pages don’t have a following page it is not possible to record the duration for this page.
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question15">
                    <h4 class="panel-title">
                        <a href="#" class="ing">Q: Why don’t we provide average session duration?</a>
                    </h4>
                </div>
                <div id="question15" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p>
                            Exit pages can’t record a duration (see above). As such most analytics will treat this page as 0 seconds. Bounce rate is also counted as 0 seconds. To add 0 seconds onto your average session duration would be incredibly misleading. Instead we provide the minimum duration a visitor spends on your website.
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question16">
                    <h4 class="panel-title">
                        <a href="#" class="ing">Q: Why can’t see the location for my mobile visitors?</a>
                    </h4>
                </div>
                <div id="question16" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p>
                            All analytics will use IP address to provide the location of your visitors. IP addresses are usually 90% accurate when it comes to locating the town or city of your visitor. However mobile visitors are incredibly in-accurate and this rule applies for all analytics. Rather than mix this in-accurate data in with the rest of your visitors s most analytical systems do, we have decided to simply not include that information.
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question17">
                    <h4 class="panel-title">
                        <a href="#" class="ing">Q: Can I add an additional user?</a>
                    </h4>
                </div>
                <div id="question17" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p>
                            Yes, we allow up to 5 seats per account. This comes at no additional cost. The main account holder can add and remove access once they have signed up.
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question18">
                    <h4 class="panel-title">
                        <a href="#" class="ing">Q: Do you include email reports?</a>
                    </h4>
                </div>
                <div id="question18" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p>
                            Yes, we currently provide a general report for each website. This will include monthly and daily statistics. We are working to provide more specific reports.
                        </p>
                    </div>
                </div>
            </div>


            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question3">
                    <h4 class="panel-title">
                        <a href="#" class="ing">Q: Why don’t I see duration on my exit pages?</a>
                    </h4>
                </div>
                <div id="question3" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p>See answer above. </p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question4">
                    <h4 class="panel-title">
                        <a href="#" class="ing">Q: How do I install Digital Crumbs?</a>
                    </h4>
                </div>
                <div id="question4" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p>As soon as you signup you will be given a piece of code which you can find on your dashboard under the button ‘Get code’. Simply add this code in your head tag.</p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question5">
                    <h4 class="panel-title">
                        <a href="#" class="ing">Q: How do I cancel?</a>
                    </h4>
                </div>
                <div id="question5" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p>
                            Nice and simple. You can cancel each website you signup for on your dashboard. There you will see a cancel button.
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question6">
                    <h4 class="panel-title">
                        <a href="#" class="ing">Q: Do you store my card details?</a>
                    </h4>
                </div>
                <div id="question6" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p>
                            No. Your card details are stored with PayPal. When you signup, PayPal will setup the $19 monthly transaction fee, and this will go through them each month.
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question7">
                    <h4 class="panel-title">
                        <a href="#" class="ing">Q: Why do I have to enter my card details for the 14-day free trial?</a>
                    </h4>
                </div>
                <div id="question7" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p>
                            This is simply to make the process more seamless for new customers. Don’t worry you won’t be charged a penny if you cancel any time before the 14 day free period is up.
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question8">
                    <h4 class="panel-title">
                        <a href="#" class="ing">Q: How do I change my card details or PayPal account?</a>
                    </h4>
                </div>
                <div id="question8" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p>
                            As we don’t store your card details you have two options. Either change your card details on your PayPal account or if you want to switch PayPal accounts you must cancel your current package. We will suspend this account. Then Signup again, this time with your new PayPal account.
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question9">
                    <h4 class="panel-title">
                        <a href="#" class="ing">Q: Why do we use PayPal?</a>
                    </h4>
                </div>
                <div id="question9" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p>
                            Simply because it is the most secure payment gateway there is. Piece of mind for all our customers.
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question10">
                    <h4 class="panel-title">
                        <a href="#" class="ing">Q: Can I add a new user?</a>
                    </h4>
                </div>
                <div id="question10" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p>
                            Not at the moment, but this is a feature will we be adding.
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question11">
                    <h4 class="panel-title">
                        <a href="#" class="ing">Q: Can I use Digital Crumbs and Google Analytics at the same time?</a>
                    </h4>
                </div>
                <div id="question11" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p>
                            Yes, in fact we recommend Google Analytics. They serve an entirely different purpose and allow users to find any errors within their sites.
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question12">
                    <h4 class="panel-title">
                        <a href="#" class="ing">Q: Is my data secure?</a>
                    </h4>
                </div>
                <div id="question12" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p>
                            Yes. Your data is fully encrypted and sent directly to Digital Crumbs.
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question13">
                    <h4 class="panel-title">
                        <a href="#" class="ing">Q: I have a lot of visitors. Can Digital Crumbs handle it?</a>
                    </h4>
                </div>
                <div id="question13" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p>
                            Yes. Digital Crumbs $19 a month package is unlimited and is created for websites of any size or traffic.
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question14">
                    <h4 class="panel-title">
                        <a href="#" class="ing">Q: GDPR rules and Information </a>
                    </h4>
                </div>
                <div id="question14" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p>
                            A landmark privacy law in the European Union (EU) called the General Data Protection Regulation (GDPR) was introduced in May 25, 2018. The GDPR unifies data protection rules across the EU and places new obligations on how companies handle personal data of individuals in the EU, including increased requirements for transparency and expanding individuals’ rights with regard to their personal data.
                            GDPR makes it clear that an IP address and other cookie identifiers may be considered personal data.
                            (30) Natural persons may be associated with online identifiers provided by their devices, applications, tools and protocols, such as internet protocol addresses, cookie identifiers or other identifiers such as radio frequency identification tags.

                            https://www.privacy-regulation.eu/en/r30.htm
                            However, for an IP address and other identifiers to be considered personal information, a user must be able to identify the person behind the IP address. An IP address taken separately, will not provide what could be considered as a natural person. If you start combining two or more types of personal data, you can uniquely identify a person.
                            For more information on what comprises as a natural person here: https://eugdprcompliant.com/personal-data/
                            Information Digital Crumbs does not collect, which is considered personal data:
                            •	Name
                            •	Home address
                            •	Credit card number
                            •	Date of birth
                            •	Photo
                            •	Email address
                            •	Social media posts
                            •	ID card
                            •	Phone number
                            •	Workplace or school
                            Information Digital Crumbs does collect:
                            •	Time of visit
                            •	Pages viewed
                            •	Duration on website
                            •	Duration on page
                            •	Sessions
                            •	Referral source
                            •	Connection type
                            •	Location (not via a mobile app)
                            NOTE: This page is for informational purposes only. This is not, nor is it intended to be, legal advice and should not be considered as such.

                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>