@{
    Layout = "~/Views/Shared/_LayoutOrangeFooter.cshtml";
}
<div class="row">
    <div class="col-md-12" id="ChnagedFont">
        <p></p><h2><b>Privacy policy</b></h2><p></p>
        <p>
            We are committed to protecting your privacy.
            Authorised employees within the company on a need to know basis only use any information collected from individual customers.
            We constantly review our systems and data to ensure the best possible service to our customers.
            Parliament has created specific offences for unauthorised actions against computer systems and data.
            We will investigate any such actions with a view to prosecuting and/or taking civil proceedings to recover damages against those responsible.
        </p>
        <br>
        <p></p><h2><b>Confidentiality</b></h2>
        <br><p></p>
        <p>
            We are registered under the Data Protection Act 1998 and as such, Client records are regarded as confidential and therefore will not be divulged to any third party, unless legally required to do so to the appropriate authorities.
            Clients have the right to request sight of, and copies of any and all Client Records we keep, on the proviso that we are given reasonable notice of such a request.
            Clients are requested to retain copies of any literature (predominantly in email form) issued in relation to the provision of our services.
            Where appropriate, we shall issue Clients with appropriate written information, handouts or copies of records as part of an agreed contract, for the benefit of both parties.
            We will not sell, share, or rent your personal information to any third party or use your e-mail address for unsolicited mail. Any emails sent by this Company will only be in connection with the provision of agreed services and products.
        </p>
    </div>
</div>