@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutProPackage.cshtml";
    var swalErrorMessage = string.Empty;
    var swalSuccessMessage = string.Empty;

    if (TempData["SwalErrorMessage"] != null)
    {
        swalErrorMessage = TempData["SwalErrorMessage"].ToString();
    }

    if (TempData["SwalSuccessMessage"] != null)
    {
        swalSuccessMessage = TempData["SwalSuccessMessage"].ToString();
    }
}

	<link href="~/Content/sidebar.css" rel="stylesheet" type="text/css">

<link
			rel="stylesheet"
			href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css"
		/>
	

<link href="~/Content/sweetalert.min.css" rel="stylesheet" />
<input type="hidden" id="displaySwalErrorMessage" value="@swalErrorMessage" />
<input type="hidden" id="displaySwalSuccessMessage" value="@swalSuccessMessage" />
<div class="container-fluid" style="font-family:Roboto !important;">
    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <form method="post" action="@Url.Action("ChangePassword","Propackage")" id="frnDomain">
                <div class="row">
                    <h3>Change Password</h3>
                </div>
                <div class="row form-group" style="padding-top: 15px;">
                    <input style="min-width: 60%" name="oldPassword" placeholder="Enter old password" type="password" required="" class="form-control" />
                </div>
                <div class="row form-group" style="padding-top: 15px;">
                    <input style="min-width: 60%" id="password" name="newPassword" placeholder="Enter new password" type="password" required="" class="form-control" />
                </div>
                <div class="row form-group" style="padding-top: 15px;">
                    <input  oninput="check(this)" style="min-width: 60%" name="confirmPassword" placeholder="Enter confirm password" type="password" required="" class="form-control" />
                </div>
                <div class="row form-group">
                    <div class="col-md-2 "></div>
                    <div class="col-md-3 "></div>
                    <div class="col-4 ">
                        <button style="background-color: #ffa937; width: 112px; border-color: #edb415"  type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<aside class="sidebar">
			<nav>
				<ul class="sidebar__nav">
					<li>
						<a href="/Propackage" class="sidebar__nav__link">
							<i class="mdi mdi-monitor-dashboard"></i>
							<span class="sidebar__nav__text">Dashboard</span>
						</a>
					</li>
					<li>
						<a href="/Propackage/SpecialUsers" class="sidebar__nav__link">
							<i class="mdi mdi-account-plus"></i>
							<span class="sidebar__nav__text">Add users</span>
						</a>
					</li>
					<li>
						<a href="/Propackage/ChangePassword" class="sidebar__nav__link">
							<i class="mdi mdi-key-variant"></i>
							<span class="sidebar__nav__text">Password</span>
						</a>
					</li>
					<li>
						<a href="/Home/FAQs" class="sidebar__nav__link">
							<i class="mdi mdi-comment-text-outline"></i>
							<span class="sidebar__nav__text">FAQs</span>
						</a>
					</li>
					<li>
						<a href="/Home/ContactUs" class="sidebar__nav__link">
							<i class="mdi mdi-email-outline"></i>
							<span class="sidebar__nav__text">Contact us</span>
						</a>
					</li>
					<li>
						<a href="/Auth/ProSignOut" class="sidebar__nav__link">
							<i class="mdi mdi-power"></i>
							<span class="sidebar__nav__text">Logout</span>
						</a>
					</li>
				</ul>
			</nav>
		</aside>


<script src="~/Content/sweetalert.min.js"></script>
<script>
    $(document).ready(function () {

        var swalSuccessMessage = $("#displaySwalSuccessMessage").val();
        if (swalSuccessMessage.length > 0) {
            swal("", swalSuccessMessage, "success");
        }

        var swalErrorMessage = $("#displaySwalErrorMessage").val();
        if (swalErrorMessage.length > 0) {
            swal("", swalErrorMessage, "error");
        }
    });
</script>

<script>
    function check(input) {
        if (input.value != document.getElementById('password').value) {
            input.setCustomValidity('Confirm password Must be Matching to password.');
        } else {
            // input is valid -- reset the error message
            input.setCustomValidity('');
        }
    }
</script>
