@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutExtraUser.cshtml";
    var swalErrorMessage = string.Empty;
    var swalSuccessMessage = string.Empty;

    if (TempData["SwalErrorMessage"] != null)
    {
        swalErrorMessage = TempData["SwalErrorMessage"].ToString();
    }

    if (TempData["SwalSuccessMessage"] != null)
    {
        swalSuccessMessage = TempData["SwalSuccessMessage"].ToString();
    }
}


<link href="~/Content/sweetalert.min.css" rel="stylesheet" />
<input type="hidden" id="displaySwalErrorMessage" value="@swalErrorMessage" />
<input type="hidden" id="displaySwalSuccessMessage" value="@swalSuccessMessage" />
<div class="container-fluid" style="font-family:Roboto !important;">
    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <form method="post" action="@Url.Action("ChangePassword","ExtraUser")" id="frnDomain">
                <div class="row">
                    <h3>Change Password</h3>
                </div>
                <div class="row form-group" style="padding-top: 15px;">
                    <input style="min-width: 60%" name="oldPassword" placeholder="Enter old password" type="password" required="" class="form-control" />
                </div>
                <div class="row form-group" style="padding-top: 15px;">
                    <input style="min-width: 60%" id="password" name="newPassword" placeholder="Enter new password" type="password" required="" class="form-control" />
                </div>
                <div class="row form-group" style="padding-top: 15px;">
                    <input  oninput="check(this)" style="min-width: 60%" name="confirmPassword" placeholder="Enter confirm password" type="password" required="" class="form-control" />
                </div>
                <div class="row form-group">
                    <div class="col-md-2 "></div>
                    <div class="col-md-3 "></div>
                    <div class="col-4 ">
                        <button style="background-color: #ffa937; width: 112px; border-color: #edb415"  type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/Content/sweetalert.min.js"></script>
<script>
    $(document).ready(function () {

        var swalSuccessMessage = $("#displaySwalSuccessMessage").val();
        if (swalSuccessMessage.length > 0) {
            swal("", swalSuccessMessage, "success");
        }

        var swalErrorMessage = $("#displaySwalErrorMessage").val();
        if (swalErrorMessage.length > 0) {
            swal("", swalErrorMessage, "error");
        }
    });
</script>

<script>
    function check(input) {
        if (input.value != document.getElementById('password').value) {
            input.setCustomValidity('Confirm password Must be Matching to password.');
        } else {
            // input is valid -- reset the error message
            input.setCustomValidity('');
        }
    }
</script>
